.home {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    margin-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: inline-grid;
    justify-items: center;
}